* {
    color: #545454;
    font-family: 'Open Sans', sans-serif
    /* border: 2px solid black; */
  }

body {
    background-color: #FFF9F4;
}

button:hover, select:hover {
    cursor: pointer;
}

/* header */
header {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
    margin-bottom: 25px
  }
  
.header-title {
    font-weight: 800;
    color: hsl(0, 1%, 37%);
    font-size: 40px;
}

.header-view-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    background-color: #F8E7F1;
    border-radius: 25px;
}

.view-label { 
    margin: 0;
    margin-right: 4px;
}

.header-view-dropdown {
    background-color: white;
    border-style: none;
    width: 200px;
    font-size: 18px;
}

.header-view-dropdown {
    width: 200px;
}
 /* header */


 /* new task form */
select, button, input {
    border: none;
    font-size: 16px;
    height: 40px;
    width: 100%;
}

select:hover, option:hover {
    cursor: pointer;
}

.new-task-form {
    display: flex;
    justify-content: space-around;
    background-color: #FEF2CE;
    border-radius: 25px;
    padding: 15px;
    margin-bottom: 15px;
}

.new-task-label {
    display: block;
    margin-bottom: 5px
}

.form-container {
    width: 30%;
}

form button {
    width: 30%;
    background-color: #A8CBFD;
    letter-spacing: 1px;
    margin-top: 28px
}

form button:hover {
    background-color: #EAEEF6;
}
/* new task form */

/* Day card */
main {
    display: flex;
    justify-content: space-around;
}
  
article {
    width: 18%;
}

.day-title {
    position: absolute;
    width: 18%;
    color: white;
    text-align: center;
    padding: 15px 0px;
    font-size: 16px;
    font-weight: 800;
    letter-spacing: 2px;
    border-radius: 25px;
}

.tasks-list-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 40px;
}
/* Day card */

/* Task card */
.task-card, .task-card-complete {
    font-size: 16px;
    width: 90%;
    margin: 10px 0;
    text-align: center;
    padding: 15px 0;
  }
  
  .task-card {
    background-color: white;
  }

  .task-card:nth-child(1), .task-card-complete:nth-child(1) {
    margin-top: 40px;
  }

  .task-card p, .task-card-complete p {
    margin-bottom: 0;
  }

  .task-card-complete {
    background-color: #a6a6a6;
  }

  .task-card:hover {
    background-color: rgb(129, 188, 129);
  }

  .task-card-complete h1 {
    text-decoration: line-through;
  }
  /* Task card */